# Disable directory browsing
Options All -Indexes
# Restrict access to certain extensions
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|txt|lib)$">
	order allow,deny
	deny from all
	satisfy all
</FilesMatch>