#serbian-transliteration-settings .nav-tab > span{
	display: inline-block;
	margin-left:5px;
}

#serbian-transliteration-settings .rstr-row{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;
}

#serbian-transliteration-settings .rstr-row > .rstr-col{
	flex: 1 1 40%;
}

#serbian-transliteration-settings .rstr-row > .rstr-col+.rstr-col{
	margin-left:15px;
}

#serbian-transliteration-settings textarea.form-control{
	width:100%;
	overflow:auto;
	overflow-x:hidden;
	resize:vertical;
}

#serbian-transliteration-settings textarea#rstr-transliteration-letters{
	
}

#serbian-transliteration-settings .button{
	margin: 10px 10px 0 0;
}

#serbian-transliteration-settings #transliteration-letters .button:first-of-type,
#serbian-transliteration-settings #transliteration-letters .button:first-child{
	margin-left:0;
}

#serbian-transliteration-settings textarea#rstr-transliteration-letters-result,
#serbian-transliteration-settings textarea#rstr-transliteration-letters-result:readonly,
#serbian-transliteration-settings textarea#rstr-transliteration-letters-result.readonly,
#serbian-transliteration-settings textarea#rstr-transliteration-letters-result[readonly]{
	border:none !important;
}

@media all and (max-width:992px){
	#serbian-transliteration-settings .rstr-row > .rstr-col{
		flex: 1 1 90%;
	}
	#serbian-transliteration-settings .rstr-row > .rstr-col+.rstr-col{
		margin-left:0;
		margin-top:15px;
	}
}

@media all and (max-width:1140px){
	#serbian-transliteration-settings .nav-tab:not(.nav-tab-active) > span{
		display: none;
	}
	
	#serbian-transliteration-settings .nav-tab{
		position:relative;
	}
	
	#serbian-transliteration-settings .nav-tab:not(.nav-tab-active):hover > span{
		display: inline-block;
		position:absolute;
		top:40px;
		left:50%;
		transform:translateX(-50%);
		background: #333333;
		color: #fff;
		padding: 5px 10px;
		z-index:1;
	}
	
	#serbian-transliteration-settings .nav-tab:not(.nav-tab-active):hover > span:before {
		content:'';
		position:absolute;
		top:-5px;
		left:50%;
		transform:translateX(-50%);
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #333333;
	}
}

#serbian-transliteration-settings .row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#serbian-transliteration-settings .required-box {
	border:1px solid #cc0000;
	padding:10px 15px;
	box-shadow:0 0 3px #cc0000;
	background:rgba(100,0,0, 0.02);
	color:#cc0000;
}

#serbian-transliteration-settings label+label{
	margin-left:10px;
}

#serbian-transliteration-settings label > input[type^="checkbox"] + span {
	word-break: break-all;
}

#serbian-transliteration-settings #rstr-filter-mode-options p+p{
	margin-top:15px;
}

#serbian-transliteration-settings .row .col {
	position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

#serbian-transliteration-settings .description {
	background: #f1f1f1;
    padding: 5px 15px 5px 20px;
    position: relative;
	color:#343434;
}

#serbian-transliteration-settings .description.inline{
	display:inline-block;
	margin-left:20px;
}

#serbian-transliteration-settings .description:before {
	content: '';
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	width: 0;
	height: 0; 
	border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ffffff;
}

#serbian-transliteration-settings .description.info {
	background: aliceblue;
    color: #000;
}

@media (min-width: 1400px){
	#serbian-transliteration-settings .row .col {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}
}

#serbian-transliteration-settings .accordion-container {
	display:block;
	width:100%;
	border:1px solid #efefef;
}

#serbian-transliteration-settings .accordion-container .accordion-link {
	background-color: #23282d;
	color: #eee;
	cursor: pointer;
	padding: 10px 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	transition: 0.4s;
}

#serbian-transliteration-settings .accordion-container .accordion-link:hover {
	background-color: #333; 
}

#serbian-transliteration-settings .accordion-container .accordion-link.active{
	background-color: #555; 
}

#serbian-transliteration-settings .accordion-container .accordion-link:after {
	content: '+'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: #777777;
	float: right;
	margin-left: 5px;
	margin-left: 5px;
	margin-top: 1px;
}

#serbian-transliteration-settings .accordion-container .accordion-link.active:after {
	content: "-"; /* Unicode character for "minus" sign (-) */
}

#serbian-transliteration-settings .accordion-container .accordion-panel {
	padding: 5px 15px 10px 15px;
	display: none;
	background-color: #ffffff;
	overflow: hidden;
}

#serbian-transliteration-settings h2{
	color: #23282d;
    font-size: 1.3em;
    margin: 1em 0;
	padding: 0;
}

#serbian-transliteration-settings #rstr-disclaimer{
	background: antiquewhite;
    margin: 0;
    padding: 5px 15px;
}

#serbian-transliteration-settings .rstr-tab-wrapper{
	padding-right:15px;
}

#serbian-transliteration-settings .rstr-tab-wrapper > #post-body-content{
	margin-top:10px;
	margin-bottom: 20px;
	padding-bottom:15px;
	max-width: 98%;
}

#serbian-transliteration-settings #post-body-content{
	min-width: 255px;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    padding: 5px 15px;
	margin-bottom: 20px;
	padding-bottom:15px;
}

@media all and (max-width:992px){
	#serbian-transliteration-settings #serbian-transliteration-settings-sidebar{
		display:none;
	}
	
	#serbian-transliteration-settings #post-body-content,
	#serbian-transliteration-settings .has-right-sidebar #post-body-content{
		margin-right: none !important;
		width: 97%;
	}
}

#serbian-transliteration-settings #post-body-content label + br{
	margin:10px 0;
}

#serbian-transliteration-settings #serbian-transliteration-settings-sidebar #contributors .contributor a,
#serbian-transliteration-settings #serbian-transliteration-settings-sidebar #contributors .contributor a *{
	text-decoration:none !important;
	text-align:center;
	border:none;
	display:block;
}

#serbian-transliteration-settings #serbian-transliteration-settings-sidebar #contributors .inside.flex{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#serbian-transliteration-settings #serbian-transliteration-settings-sidebar #contributors .inside.flex .contributor{
	flex: 0 0 50%;
    max-width: 50%;
	margin:24px 0 0 0;
}

#serbian-transliteration-settings #serbian-transliteration-settings-sidebar #contributors .contributor+.contributor{
	
}

#serbian-transliteration-settings #serbian-transliteration-settings-sidebar #contributors .contributor h3{
	padding:0;
	margin:0;
	font-size: 0.9em;
}

#serbian-transliteration-settings #serbian-transliteration-settings-sidebar #contributors .contributor img{
	dsplay:block;
	margin:0 auto;
	max-width:100%;
}

#serbian-transliteration-settings #rstr-progress-bar {
    margin:1.5rem auto;
}

/* Styling an indeterminate progress bar */
#serbian-transliteration-settings #rstr-progress-bar progress:not(value) {
    /* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/* Styling the determinate progress element */
#serbian-transliteration-settings #rstr-progress-bar progress[value] {
    /* Get rid of the default appearance */
    appearance: none;
    
    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;
    
    /* Add dimensions */
    width: 100%; height: 20px;
    
    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
      background-color: whiteSmoke;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    
    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;
    
    position: relative;
    margin: 0; 
}

#serbian-transliteration-settings #rstr-progress-bar .progress-message{
	margin: 0;
    padding: 0;
    font-weight: 500;
	color: #990000;
	text-align:center;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

#serbian-transliteration-settings #rstr-progress-bar progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

#serbian-transliteration-settings #rstr-progress-bar progress[value]::-webkit-progress-value {
    position: relative;
    
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
    
    /* Let's animate this */
    animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

/* Let's spice up things little bit by using pseudo elements. */

#serbian-transliteration-settings #rstr-progress-bar progress[value]::-webkit-progress-value:after {
    /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
    content: '';
    position: absolute;
    
    width:5px; height:5px;
    top:7px; right:7px;
    
    background-color: white;
    border-radius: 100%;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

#serbian-transliteration-settings #rstr-progress-bar progress[value]::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
    
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
    
    /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
#serbian-transliteration-settings #rstr-progress-bar .progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

    /* Dimensions should be similar to the parent progress element. */
    width: 100%; height:20px;
}

#serbian-transliteration-settings #rstr-progress-bar .progress-bar span {
    background-color: royalblue;
    border-radius: 3px;
    
    display: block;
    text-indent: -9999px;
}

#serbian-transliteration-settings #rstr-progress-bar p.progress-value[data-value] { 
	position: relative;
	z-index: 1;
	color: white;
	text-shadow: 1px 1px 2px #000;
	font-weight: bold;
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

#serbian-transliteration-settings #rstr-progress-bar p.progress-value[data-value]:after {
    content: attr(data-value) '%';
    position: absolute; right:0;
}



#serbian-transliteration-settings #rstr-progress-bar .php::-webkit-progress-value 
{
    /* Gradient background with Stripes */
    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #ff0);
}

#serbian-transliteration-settings #rstr-progress-bar .php::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
}

#serbian-transliteration-settings #rstr-progress-bar .php::-moz-progress-bar {
{
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #ff0);
}